*{
margin: 0;
padding: 0;

}

.button{
width: 70px;
height: 70px;
font-size: 25px;
margin: 2px;
cursor: pointer;
border: none;
}

.textview{
width: 285px;
margin:5px;
font-size: 25px;
padding: 5px;
height:40px;
}

.main{
	position: absolute;
	top:10%;
	left:40%;
}

.bg{
background: linear-gradient(to right, #3764b5ba, #38ca1e);
height: -webkit-fill-available;
}
